.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_nome__label { }
.css_nome__line { }
.css_nome__obj { }
.css_email__label { }
.css_email__line { }
.css_email__obj { }
.css_cpf__label {text-align:;}
.css_cpf__line {text-align:left;}
.css_cpf__obj {text-align:left;}
.css_telefone__label { }
.css_telefone__line {text-align:left;}
.css_telefone__obj {text-align:left;}
.css_data_nascimento__label {text-align:;}
.css_data_nascimento__line {text-align:left;}
.css_data_nascimento__obj {text-align:left;}
.css_data_cadastro__label {text-align:;}
.css_data_cadastro__line {text-align:left;}
.css_data_cadastro__obj {text-align:left;}
.css_intervalo_doacao__label { }
.css_intervalo_doacao__line { }
.css_intervalo_doacao__obj { }
.css_valor_doacao__label {text-align:;}
.css_valor_doacao__line {text-align:left;}
.css_valor_doacao__obj {text-align:left;}
.css_forma_pagamento__label { }
.css_forma_pagamento__line { }
.css_forma_pagamento__obj { }
.css_informacoes_conta__label { }
.css_informacoes_conta__line { }
.css_informacoes_conta__obj { }
.css_informacoes_cartao__label { }
.css_informacoes_cartao__line { }
.css_informacoes_cartao__obj { }
.css_endereco__label { }
.css_endereco__line { }
.css_endereco__obj { }
